@use "../utils/functions" as *;

.who__am__i {
    background-color: var(--primary-color);

    p {
        font-size: rem(18);
        letter-spacing: rem(1);
        line-height: rem(24);
        font-weight: 400;
    }

    div {
        display: flex;
        span {
            margin-top: rem(25);
        }
    }
}
